<div class="form-horizontal">
  <%= form_for(@topping) do |f| %>
    <%= render "layouts/errors", object: f.object %>
  
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
    <%= f.submit class: "btn btn-success" %>

  <% end %>  
</div>