<div class="form-horizontal">
  <%= form_for(@pizza) do |f| %>
    <%= render "layouts/errors", object: f.object %>
  
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.collection_check_boxes(:topping_ids, Topping.all, :id, :name, include_hidden: false) do |b| %>
    <ul>
      <li><%= b.check_box %> - <%= b.label %></li>
    </ul>
    <% end %>
  </div>

  <p>Don't see your toppings? Add them <a href="<%= new_topping_path %>">here</a> first.</p>
  
    <%= f.submit class: "btn btn-success" %>

  <% end %>  
</div>