<div class="container">
  <h1>Pizza Server Shop</h1>
  <%= link_to "Add Pizza", new_pizza_path, class: "btn btn-default" %>
  <%= link_to "View Toppings", toppings_path, class: "btn btn-default" %>
  <div>
    <h2>Current Pizzas:</h2>
      <ul>
      <% @pizzas.each do |pizza| %>
        <li>
          <h4><%= pizza.name %></h4>
          <h5>Description: <%= pizza.description %></h5>
          <%= link_to "Edit", edit_pizza_path(pizza) %>
          <%= link_to 'Delete', pizza, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      <% end %>
      </ul>
  </div>
</div>
